$red:  rgba(213, 18, 49, 1);
$blue: #4ec2ec;
$yellow: #f9b233;

$largeLeading: 34px;
$mediumLeading: 34px;
$smallLeading: 34px;

$fontHelveticaLight: HelveticaNeueW01-45Ligh, helvetica neue, helvetica, arial, sans-serif;
$fontHelveticaBold: HelveticaNeueW01-75Bold, helvetica neue, helvetica, arial, sans-serif;
